header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #FDFDFD;
}

img {
  height: 3rem;
  width: auto;
}

img:hover {
  transform: scale(1.12);
  transition-duration: 300ms;
}