main {
  padding: 1rem;
  background-color: #002546;
  height: 100%;
}

main > h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #FCFCFC;
}

.credit-cards-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-card {
  width: 375px;
  height: 237px;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.credit-card__subtitle {
  font-size: 1rem;
}

.credit-card__subtitle--important {
  font-size: 1.5rem;
  font-weight: 600;
}

.credit-card__h2 {
  margin-bottom: 2rem;
}

.credit-card__number {
  font-size: 2rem;
}

.credit-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.credit-card__bottom-left {
  display: flex;
  gap: 3rem;
}

.credit-card__bg {
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  outline: 4px solid rgba(255, 255, 255, .9);
}

.credit-card__type {
  height: 1.5rem;
  width: auto;
  opacity: 0.6;
}