<main>
  <h1>Mis Tarjetas</h1>
  <section class="credit-cards-container">
    <div class="credit-card credit-card__bg">
      <h2 class="credit-card__h2">Johnny Joestar</h2>
      <div>
        <p class="credit-card__subtitle">Card number</p>
        <p class="credit-card__number">7582 0306 1890 6420</p>
      </div>
      <div class="credit-card__bottom">
        <div class="credit-card__bottom-left">
          <div>
            <p class="credit-card__subtitle">Expiry date</p>
            <p class="credit-card__subtitle--important">03/23</p>
          </div>
          <div>
            <p class="credit-card__subtitle">CVV</p>
            <p class="credit-card__subtitle--important">369</p>
          </div>
        </div>
        <img class="credit-card__type" src="/assets/logo.png" alt="Credit card type">
      </div>
    </div>
  </section>
</main>