aside { 
  background-color: #ebecf0;
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 180px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 12px;
}

nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1.5rem;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

li > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
}

li:hover {
  color: #ffc700;;
  font-weight: 500;
}

li > a:visited {
  color: inherit;
}